<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding test</title>
</head>
<body>
    <header>
        <P>SUMMARY</P>
        <nav>
            <a href="#">home</a>
            <a href="#">summary</a>
        </nav>
    </header>
    <section>
        <p>It has been two weeks so far in school and our teachers are wonderful.on the The first week we had tr.Jackline she tought us the basics. she explaind how to make a folder and file .the meanimg and uses of HTML and CSS,a coding enviroment and what extensions are <br>
        She taught us how to add images and heading.Headings are made using angle brackets and the letter h
            <h1>Headings</h1> 
            <h2>Headings</h2>
            <h3>Headings</h3>
            <h4>Headings</h4>
            <h5>Headings</h5>
            <h6>Headings</h6>
        .To add an image we use <b>img scr=""alt=""</b><br>
           </p>
           <img src="images/images (2).jpeg" alt="HTML">Picture added
           <p>we also learnt how to make lists<br>
              we made ordered and unordered lists<br></p>
              <ul>
                <li>unordered lists</li>
                <li>unordered lists</li>
                <li>unordered lists</li>
              </ul>
              <ol>
                <li>ordered lists</li>
                <li>ordered lists</li>
                <li>ordered lists</li>
              </ol>
              <main>
                <p>the week after we learnt ho to make forms</p>
                <h2>forms</h2>
                <form>
                    <div>
                        <label for="Name">name</label>
                        <input type="text"id="name"required name="name"><br>
                        <label for="Email">Email</label><br>
                        <input type="email"id="email" required name="email"><br>
                        <label for="DOB">date of birth</label><br>
                        <input type="date"id="dob" required name="dob"><br>
                        <label for="age">age</label><br>
                        <input type="age"id="age" required name="age"><br>
                    </diV>
                    <div id="selection">
                        <label for="courses">preffered courses</label>
                        <select id="courses" required name="courses">
                            <option value="">select a course:</option>
                                <option value="html">HTML</option>
                                <option value="css">CSS</option>
                                <option value="java">Java</option>
                                <option value="python">python</option>
                                <option value="javascript">Javascript</option>
                                <option value="react">React</option>
                            </select><br>
                            <div>
                                <label for="terms">i accept the terms and conditions</label>
                                <input type="checkbox" required name="terms" id="Name">
                            </div>
                                <button class="submit">submit</button>
                    </div><br>
            </main> 
        </form>
    </section>
</body>
</html>   